.header {
  margin: 0px
}

.title {
  color: rgb(255, 218, 26);
  background-color: rgb(0, 81, 186);
  text-decoration: none;
  font-size: 200%;
}

.title:hover {
  border: 10px rgb(255, 218, 26) solid;
}

.menu {
  border: 10px white solid;
  width: 3.9em;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 218, 26);
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
  list-style: none;
  padding-left: 0px;
  text-align: center;
}

.menu:hover {
  border: 10px rgb(0, 81, 186) solid;
}

.list {
  color: rgb(0, 81, 186);
  text-decoration: none;
  font-weight: bold;
}

.contentbox {
  border: 10px rgb(0, 81, 186) solid;
  border-radius: 100%;
  background-color: rgb(255, 218, 26);
  height: 21em;
  width: 21em;
  margin-left: auto;
  margin-right: auto;
}

.content {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.page {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 81, 186);
}

h1 {
  text-align: center;
}

.footer {
  margin-top: 10vh;
  text-align: center;
  font-size: 13px;
  font-style: italic;
}
