.header {
  margin: 0px
}

.title {
  color: rgb(255, 218, 26);
  background-color: rgb(0, 81, 186);
  text-decoration: none;
  font-size: 200%;
}

.title:hover {
  border: 10px rgb(255, 218, 26) solid;
}

.menu {
  display: grid;
  grid-template-columns: 7vh;
  grid-template-rows: 7vh 7vh 7vh;
  grid-gap: 5%;
  border: 10px white solid;
  padding-left: 0px;
  text-decoration: none;
  justify-content: center;
}

li:hover {
  border: 5px rgb(0, 81, 186) solid;
}

li {
  font-size: 4vh;
  list-style: none;
  text-align: center;
  padding-left: 0px;
  border: 5px white solid;
  border-radius: 100%;
  background-color: rgb(255, 218, 26);
}

.list {
  color: rgb(0, 81, 186);
  text-decoration: none;
  font-weight: bold;
}

.contentbox {
  border: 10px rgb(0, 81, 186) solid;
  border-radius: 100%;
  background-color: rgb(255, 218, 26);
  height: 21em;
  width: 21em;
  margin-left: auto;
  margin-right: auto;
}

.content {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.page {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 81, 186);
}

h1 {
  text-align: center;
}

.footer {
  margin-top: 10vh;
  text-align: center;
  font-size: 13px;
  font-style: italic;
}
